<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.budgetapp">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:background="@color/light_grey"
        android:theme="@style/Theme.BudgetApp">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ExpenseViewer"/>
        <activity android:name=".AdjustExpense"/>
        <activity android:name=".AddCategories"/>
        <activity android:name=".EditCategories"/>
        <activity android:name=".AddEntries"/>
        <activity android:name=".EditEntries"/>
        <activity android:name=".AddGoals"/>
        <activity android:name=".EditGoals"/>
        <activity android:name=".EditEarning"/>
        <activity android:name=".Avatar"/>
    </application>

</manifest>